CREATE POLICY "Tenant users can insert workspace version chunks" ON public.document_version_chunks FOR INSERT WITH CHECK ( document_version_id IN ( SELECT id FROM public.document_versions WHERE document_id IN ( SELECT id FROM public.documents WHERE workspace_id IN ( SELECT workspace_id FROM public.workspace_users WHERE user_id = auth.uid() ) ) ) );
